      
<%= form_for @project.prelationships.build(:pfollowed_id =>
                                           @project_id) do |f| %>
    <%= collection_select :prelationship, :pfollower_id, Plant.all, :id,   
                          :name, {},:multiple => true,
                          :class => "listselect" %>
    <%= hidden_field_tag :project_id, @project.id %>
    <div class="actions">
      <%= f.submit "Pfollow" %>
    </div>
<% end %>   
<div id="droppable1" class="droppablec">
	<p>Leftover Plants</p>
	<% @plants.each do |plant| 4.times do %>   
	<%= image_tag(plant.image_path, :class => "draggablea", :size => 
	              "15x15")%>     
	<% end %> 
	<% end %>                    
	</div>