<%= form_for @project.prelationships.build(:pfollowed_id =>
                                           @project_id) do |f| %>
    <%= collection_select :prelationship, :pfollower_id, Plant.all, :id,   
                          :group, {},:multiple => true,
                          :class => "listselect" %>
    <%= hidden_field_tag :project_id, @project.id %>
    <div class="actions">
      <%= f.submit "Pfollow" %>
    </div>
<% end %>   
<div class="demo ui-widget ui-helper-clearfix">

<ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
	<li class="ui-widget-content ui-corner-tr">
		<h5 class="ui-widget-header">High Tatras</h5>
		<%= image_tag("beet.png", :alt => "Beet", )%>
		<a href="images/high_tatras.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
		<a href="link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a>
	</li>
	<li class="ui-widget-content ui-corner-tr">
		<h5 class="ui-widget-header">High Tatras 2</h5>
		<img src="/demos/droppable/images/high_tatras2_min.jpg"  alt="The chalet at the Green mountain lake" width="96" height="72" //>
		<a href="images/high_tatras2.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
		<a href="link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a>
	</li>
	<li class="ui-widget-content ui-corner-tr">
		<h5 class="ui-widget-header">High Tatras 3</h5>
		<img src="/demos/droppable/images/high_tatras3_min.jpg"  alt="Planning the ascent" width="96" height="72" //>
		<a href="images/high_tatras3.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
		<a href="link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a>
	</li>
	<li class="ui-widget-content ui-corner-tr">
		<h5 class="ui-widget-header">High Tatras 4</h5>
		<img src="/demos/droppable/images/high_tatras4_min.jpg"  alt="On top of Kozi kopka" width="96" height="72" //>
		<a href="images/high_tatras4.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
		<a href="link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a>
	</li>
</ul>

<div id="trash" class="ui-widget-content ui-state-default">
	<h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash">Trash</span> Trash</h4>
</div>

</div>
<script type="text/javascript">
$(document).ready(function(){
  $("h").click(function(){
    $(this).hide();
  });
});
</script>
<h>If you click on me, I will disappear.</h>
<h>Click me away!</h>
<h>Click me too!</h>
<div class="circle">
    <div class="outer-circle"></div>
    <div class="middle-circle">
	<ol id="selectable">
    <li class="ui-widget-contentb"><%= image_tag("beet.png", :mouseover => "onion.png" )%></li>
    <li class="ui-widget-contentb"><%= image_tag("onion.png")%></li>
    </ol>
      </div>
    <div class="inner-circle">Start With Veggies Here</div>
</div>

<div id="droppable1" class="droppablec">
	<p>Leftover Plants</p>
	<% @plants.each do |plant| 4.times do %>   
	<%= image_tag(plant.image_path, :class => "draggablea")%>     
	<% end %> 
	<% end %>                    
	</div>  
	    <script type="text/javascript">
	    $(function() {
	        $("#selectable").selectable({
	            stop: function(){
	                var result = $("#select-result").empty();
	                $(".ui-selected", this).each(function(){
	                    var index = $("#selectable li").index(this);
	                    result.append(" #" + (index + 1));
	                });
	            }
	        });
	    });
	    </script>


	<div class="demo">

	<p id="feedback">
	You've selected: <span id="select-result">none</span>.
	</p>

	<ol id="selectable">
	    <li class="ui-widget-contentb">Item 1</li>
	    <li class="ui-widget-contentb">Item 2</li>
	    <li class="ui-widget-contentb">Item 3</li>
	    <li class="ui-widget-contentb">Item 4</li>
	    <li class="ui-widget-contentb">Item 5</li>
	    <li class="ui-widget-contentb">Item 6</li>
	</ol>
	
	