<p>
  <strong>Address:</strong>
  <%= @project.address %>
</p>
<p>
  <strong>State:</strong>
  <%= @project.state %>
</p>
<p>
  <strong>Zone:</strong>
  <%= @project.zone %>
</p>

<%= render 'form' %>

<p><%= link_to "Back to List", projects_path %></p>
