<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>
<p>
  <strong>Address:</strong>
  <%= @project.address %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @project.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @project.longitude %>
</p>
<p>
  <strong>State:</strong>
  <%= @project.state %>
</p>
<p>
  <strong>Zone:</strong>
  <%= @project.zone %>
</p>
<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", projects_path %>
</p>
 <%= render 'shared/plant_group_form' %>