<p>
  <strong>Address:</strong>
  <%= @project.address %>
</p>
<p>
  <strong>State:</strong>
  <%= @project.state %>
</p>
<p>
  <strong>Zone:</strong>
  <%= @project.zone %>
</p>                
<p>
  <strong>Plants:</strong>
  <%= @project.pfollowing %>
</p>
 <%= render 'shared/plants_form' %>            
<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", projects_path %>
</p>