<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %> 
    <%= javascript_include_tag 'jquery.min', 'jquery_ujs',
    'jquery-ui', 'jquery.colorbox-min', 
    'jquery.listselect', 'jquery-ui-1.8.16.custom.min', 'application' %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>   
  <body id="store">
	<div id="columns">  
	  <div id="side">
	    <div id="cart">  
		  <% if @cart %>    
		    <%= hidden_div_if(@cart.line_items.empty?, :id => 'cart') do %>
	          <%= render @cart %>
	        <% end %>        
	      <% end %>
	    </div>                                                          
	  </div> 
	</div>
  </body>   
</html>